$main-bg-color: #1f1d20;
$header-bg-color: #3b393b;
$card-bg-color: #3b3d3d;

$main-text-color: rgb(82, 168, 45);
$header-text-color: rgb(70, 176, 25);

$small-breakpoint: 280px;
$med-breakpoint: 620px;
$large-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1600px;
